* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header,
footer {
    background-color: rgb(111, 136, 136);
    color: #fff;
    width: 100%;
}

footer {
    position: sticky;
    bottom: 100;
    text-align: center;
    font-size: 12px;
    padding: 30px 0;
}

header h2 {
    font-size: 40px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 0 15px;
}

body {
    display: flexbox;
    padding: 15px;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Responsive columns */
    gap: 16px;
}

.card {
    flex-direction: column;
    flex: 1;
    grid-column: initial;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 10%;
    background-color: #f0f0f0;
    border-radius: 18px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 18px;
    transition: .45s;
}

.card:hover {
    background-color: #9eb1b0;
}

.card img {
    max-width: 100%;
    flex-wrap: wrap;
    display: grid;
    justify-content: center;
    align-items: center;
}

.card-content {
    padding: 16px;
}

.card-content h3 h4 {
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}


.card-content .btnn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}

.card-content .btnn:hover {
    background-color: #08726c;
}



@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 16px);
        /* 2 boxes per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
        /* Full width on very small screens */
    }
}